.pageBody
{


    width: 100%;
    height: 100%;
    top: 0;
    background-size: 100%;

}

.body{
    float: right;
    width: 40%;
    height: 50%;
    border: 3px solid #ce8483;
    margin-right: 30%;
    margin-top: 2%;
}

.label{
    margin-right:10%;
    font-size: 24px;
    color: #080808;
}

.div{
    width: 100%;
    height: 35%;
    margin-top: 8%;
    margin-bottom: 4%;
    margin-left: 5%;
}
.div-ba{
    width: 100%;
    margin-top: 2%;
    margin-left: 5%;
    color: #ce8483;
    font-size: large;
}
.text{
    width: 230px;
    height: 125px;
    border: 2px solid #e4b9c0;
}
.select{
    width: 35%;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    border-radius: 3px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    color: black;
    border: 2px solid #e4b9c0;
    background-color: #e4b9c0;
    margin-bottom: 5%;
}

.button{
    width: 40%;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 3px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    color: #ffffff;
    border: 2px solid #e4b9c0;
    background-color: #e4b9c0;
    margin-left: auto;
}

.button-la{
    color: #ffffff;
    margin-left: 20px;

}

.label-q{
    display: inline-block;
}

.file{
    height: 50px;
    border: #ffffff;
    background-color: #ffffff;
}
.chooseTip{
    position: relative;
    z-index: 2;
    display: block;
    line-height: 18px;
    font-size: 14px;
    color: #fd5f39;
    padding-left: 20px;
    margin-bottom: 5.1%;
    margin-left: 7%;
}

.b-s{
    width: 80px;
    height: 35px;
    font-size: large;
    margin-left: 5%;
    margin-top: 3.5%

}

#up-re{
    margin-top: 5%;
}

.left{
    margin-left: 20%;
}

.tou{

}