.mainShow{

    padding:20px 20px;
    height:500px;
    width:100%;
    float:right;
    overflow-y: scroll;
    border-width: 1px 0 0 0;
    border-color: #e4b9c0;
    border-style: solid;
    margin-top: 15px;
}

.span-d{
    float: left;
    font-size: large;
    margin-left: 4%;
}

.span-b{
    float: left;
    font-size: large;
    margin-left: 20%;
}

.span-ba{
    float: left;
    font-size: large;
    margin-left: 10%;
}

.span-l{
    margin-right: 40%;
    font-size: large;
    float: right;
}

.span-la{
    margin-right: 20%;
    font-size: large;
    float: right;
}
.file-div{
    border-width: 0 0 1px 0;
    border-style: solid;
    border-color: #adadad;
    width: 100%;
}

.span-file{
    position: relative;
    font-size: large;
    padding-right: 10px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    display: inline-block;
    margin-left: 2.5%;
    width: 25%;


}

.span-label{
    position: relative;
    font-size: large;
    padding-right: 10px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    display: inline-block;
    margin-left: 1%;
    width: 25%;
}

.span-intro{
    text-overflow: ellipsis;
    position: relative;
    display: inline-block;
    font-size: large;
    width: 35%;

}
.span-down{
    display: inline-block;
    font-size: large;
    color:#e4b9c0 ;
}

.span-labela{
    position: relative;
    font-size: large;
    padding-right: 10px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    display: inline-block;
    width: 15%;
    margin-left: 1%;
}

.span-introa{
    text-overflow: ellipsis;
    position: relative;
    display: inline-block;
    font-size: large;
    width: 18%;
    margin-left: 12%;

}
.span-downa{
    display: inline-block;
    font-size: large;
    color:#e4b9c0 ;
}


.down{
    background-color: transparent;
    border-color: transparent;
    margin-left: 15px;
    color:#e4b9c0 ;
    display:inline;
}

.down-my{
    background-color: transparent;
    border-color: transparent;
}

.errTip{
    width: 40%;
    height: 50%;
    margin-left: 40%;
    margin-top: 10%;
}
.errTip-t{
    margin-left: 10%;
}

a:hover{
    color:#e4b9c0  ;
    text-decoration: underline;
}

a:link {
    color: #e4b9c0 ;
    text-decoration: none;
}
a:visited {
    color:#e4b9c0 ;
    text-decoration: none;
}

 .OFaPaO {
    float: right;
    width: 21%;
    *width: 165px;
    min-width: 165px;
    max-width: 315px;
    height: 15px;
    margin: 12px 8px 12px 0;
    position: relative;
 }

.OFaPaO .olcu5QZZ {
    padding-left: 15px;
    padding-right: 54px;
    background: #f1f2f4;
    border-radius: 33px;
}

 .OFaPaO .kgje9pl {
     width: 100%;
     height: 30px;
     background: 0 0;
     border: 0;
     outline: 0;
     line-height: 29px !important;
     font-size: 12px;
     position: absolute;
     top: 6px;
     left: 15px;
     color: #929292;
}

 #search{
     margin-top: 2%;
     margin-left: 60%;
 }

 #type-btn{
     float: right;
     margin-top: 2%;
     margin-right: 2%;
 }

 #main-title{
 }