/*
登录
*/
.username {
    border: 1px solid #a1a1a1;
    padding: 10px 10px;
    padding: 10px 40px 10px 10px;
    border-radius: 3px;
    width: 80%;
    margin-left: 10%;
    margin-bottom: 5.1%;
}

.pass {
    border: 1px solid #a1a1a1;
    padding: 10px 10px;
    padding: 10px 40px 10px 10px;
    border-radius: 3px;
    width: 80%;
    margin-left: 10%;
    margin-bottom: 5.1%;
}

.login {
    float: right;
    width: 30%;
    height: 60%;
    border: 1px solid #a1a1a1;
    margin-right: 7%;
    margin-top: 5%;
}

.submit {
    width: 80%;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    margin-left: 10%;
    border-radius: 4px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    color: black;
    border: 2px solid #00b38a;
    background-color: #00b38a;
    margin-bottom: 5%;
}

.headline {
    width: 80%;
    text-align: left;
    font-size: 30px;
    margin-left: 10%;
    margin-top: 5.1%;
    margin-bottom: 5.1%;
}

.helloTitle {
    width: 400px;
    line-height: 80px;
    font-family: "Microsoft YaHei";
    float: left;

}

.log {
    float: left;
    font-size: large;
    margin-left: 17%;
    margin-top: 3%;
}

.input-tips {
    position: relative;
    z-index: 2;
    display: block;
    line-height: 18px;
    font-size: 12px;
    color: #fd5f39;
    padding-left: 20px;
    margin-bottom: 5.1%;
    margin-left: 10%;
}

.forget {
    position: relative;
    text-align: right;
    z-index: 2;
    font-size: 12px;
    padding-left: 20px;
    margin-bottom: 5%;
    margin-right: 10%;
}

.registerTip {
    width: 80%;
    text-align: left;
    z-index: 2;
    font-size: 15px;
    padding-left: 20px;
    margin-bottom: 5.1%;
    margin-left: 5%;

}

.title {
    height: 60px;

    border-bottom: 1px solid #d6dfea;
    font-size: 50px;
    font-family: "Microsoft YaHei";
    text-align: center;
    line-height: 5px;
}

.pageBody {
    width: 98%;
    margin: 20px;
    height: 80%;
    border: 1px;
    padding: 20px 20px;
}
